# Node
node_modules/
dist/
npm-debug.log*

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/

# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/

# Logs
*.log
